<!doctype html>
<html lang="pt-BR">
    <head>
        <title><%= title %></title>
        <meta http-equiv="Content-Language" content="pt-br">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="/favicon.png" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/angular-toastr/dist/angular-toastr.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./bower_components/table-grid/dist/css/table-grid.min.css">
        <link rel="stylesheet" type="text/css" href="./bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
        <link rel="stylesheet" type="text/css" href="./bower_components/form-uploader/dist/css/form-uploader.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <style>
            
        </style>
        <script type="text/javascript">
            window.S3URL = "<%- S3URL %>";
            window.user = <%- user || 'null' %>;
            window.isSuperUser = <%- isSuperUser || 'false' %>;
            window.s3ImagePath = "<%- s3ImagePath %>";
            window.ERR = <%- ERR %>;
        </script>
    </head>

    <body>
        <div class="loading" ng-show="loading"></div>
        <div ng-show="imagerender!=null" ng-class="{'image-preview-modal': imagerender!=null}">
            <img ng-src="{{imagerender}}" style="width: 75%; height: 75%; position: relative; top: 12.5%; left: 12.5%">
            <button type="button" class="close delete-abs" ng-click="imagerender=null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <my-sidebar></my-sidebar>

        <section class="container">            
            <div ng-view></div>
        </section>

        <script language="JavaScript" src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script language="JavaScript" src="./bower_components/angular/angular.js"></script>
        <script language="JavaScript" src="./bower_components/angular-route/angular-route.js"></script>
        <script language="JavaScript" src="./bower_components/angular-resource/angular-resource.js"></script>
        <script language="JavaScript" src="./bower_components/angular-toastr/dist/angular-toastr.js"></script>
        <script language="Javascript" src="./bower_components/angularUtils-pagination/dirPagination.js"></script>
        <script language="javascript" src="./bower_components/angular-bind-html-compile/angular-bind-html-compile.min.js"></script>
        <script language="JavaScript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script language="javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script language="JavaScript" src="/bower_components/angular-animate/angular-animate.js"></script>        
        <script language="JavaScript" src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script language="Javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script language="JavaScript" src="/bower_components/bootbox.js/bootbox.js"></script>
        <script language="JavaScript" src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script language="JavaScript" src="/bower_components/tinymce/tinymce.js"></script>
        <script language="JavaScript" src="/bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>
        <script language="JavaScript" src="/bower_components/chart.js/dist/Chart.min.js"></script>
        <script language="JavaScript" src="/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

        <script language="JavaScript" src="./bower_components/table-grid/dist/js/table-grid.js"></script>
        
        <script language="Javascript" src="./bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
        <script language="JavaScript" src="./bower_components/form-uploader/dist/js/form-uploader.min.js"></script>

        <script language="JavaScript" src="./bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
        
        <!--DIRECTIVES-->
        <script language="JavaScript" src="./app/directives/sidebar.directive.js"></script>
        <script language="JavaScript" src="./app/directives/s3.directive.js"></script>

        <!--FILTERS-->
        <script language="JavaScript" src="./app/filters/helper.filter.js"></script>
        
        <!--PROVIDERS-->
        <script language="JavaScript" src="./app/providers/messages.provider.js"></script>

        <!--SERVICES-->
        <script language="JavaScript" src="./app/services/core.service.js"></script>
        <script language="JavaScript" src="./app/services/authentication.js"></script>
        <script language="JavaScript" src="./app/services/error.service.js"></script>
        
        <!--CONTROLLERS-->
        <script language="JavaScript" src="./app/controllers/home.controller.js"></script>
        <script language="JavaScript" src="./app/controllers/user.controller.js"></script>
        <script language="JavaScript" src="./app/controllers/task.controller.js"></script>
        <script language="JavaScript" src="./app/controllers/error.controller.js"></script>

        <!--MODELS-->
        <script language="JavaScript" src="./app/models/user.js"></script>
        <script language="JavaScript" src="./app/models/task.js"></script>

        <script language="JavaScript" src="./routes.js"></script>
        <script language="JavaScript" src="./app.config.js"></script>        
        <script language="JavaScript" src="./app.constant.js"></script>        
        <script language="JavaScript" src="./app.js"></script>
    </body>
</html>